@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&display=swap');
body{
  background-color: white !important;
}
*{
	/*font-family: 'Luxurious Roman', cursive;*/
  font-family: calibri;
}
.red{
	background-color: red;
}
.tablecell{
  color: rgb(36, 36, 36) !important;
  font-size: 1rem !important; 
  font-weight: 600 !important;
  text-align: center !important;
}
.white{
  color: white!important;
}
.MuiTableCell-root{
  padding: 5px!important;
}
  tbody tr:hover {
  /*background-color:  #4834d4;*/
  /*color: white;*/
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.tableShadow{
	 box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.links{
  color: #3498db;
  font-weight: bold;
}
.links:hover{
  text-decoration: underline;
  text-decoration-color: black;
  cursor: pointer;
}
.flexBox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.onhover:hover{
  color: blue !important;
}
.ParentFlex{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 200px;
}
.preloader{
  width: 20%;
  height: 20%;
}
.MuiGrid-spacing-xs-5 {
  width: 100% !important;
}
.buy-sell{
  pointer-events: all;
  cursor: pointer;
}
.buy-sell-disabled{
  pointer-events: none;
  cursor: not-allowed;
}
.buy-sell-wrapper{
  cursor: pointer;
  opacity: 1;
}
.buy-sell-wrapper-disabled{
  cursor: not-allowed;
}
.buy-sell-wrapper-disabled:hover{
  opacity: 0.6;
}
.animation-bottom-top{
  animation: bottomTop ease-in-out 0.6s;
  transition-property: opacity, transform;
}
@keyframes bottomTop{
  from {
    transform: translate3d(0,100px,0) scale(.6);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateZ(0) scale(1);
  }
}